@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-2 {
  width: 16.66666666%;
}

.col-3 {
  width: 33.33333333%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333333%;
}

.col-12 {
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a, span {
  display: inline-block;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.orange {
  color: #ffbe00;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 32px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn--orange {
  background-color: #ffbe00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--orange:hover {
  background-color: #222222;
  color: #ffbe00;
}

.btn-black {
  background-color: #222222;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-black:hover {
  background-color: #ffbe00;
  color: #222222;
}

.relative {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.over--1, .over--2, .over--3 {
  position: absolute;
  width: 33.333%;
  height: 100%;
  background-color: black;
}

.over--1 {
  left: 0;
}

.over--2 {
  left: 33.33333%;
}

.over--3 {
  left: 66.66666%;
}

.section__title {
  font-family: "Fresh Cream", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
}

.section__description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.header {
  padding: 48px 0 20px;
  background-color: #fff;
  z-index: 5;
  position: fixed;
  width: 100%;
}

.header__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-name {
  color: #ffbe00;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.5;
  margin-left: 20px;
  padding-top: 15px;
}

.header__block--right, .header__system-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-right: 140px;
}

.header__system-elements .search {
  margin-right: 30px;
}

.header__system-elements .cart {
  position: relative;
}

.header__system-elements .cart__counter {
  position: absolute;
  bottom: 0;
  left: 70%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  min-width: 16px;
  min-height: 16px;
  padding: 3px 3px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 46px;
}

.nav__item:last-child {
  margin: 0;
}

.nav__link {
  color: #222222;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.nav__link:hover {
  color: #ffbe00;
}

.nav__dropdown::before {
  content: "";
  width: 8px;
  height: 8px;
  border-left: 2px solid #222222;
  border-bottom: 2px solid #222222;
  background-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 5px;
  right: -20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__dropdown::before:hover::before {
  border-color: #ffbe00;
}

.hero {
  padding-top: 147px;
}

.hero .container {
  min-height: 900px;
}

.hero__row {
  position: relative;
  z-index: 2;
  padding-top: 120px;
}

.hero__title {
  font-family: "Fresh Cream", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
}

.hero__description {
  margin: 50px 0 115px;
  font-size: 18px;
  color: #9e9e9e;
}

.hero__label {
  margin-left: 18px;
}

.hero__label input {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 50px 14px 25px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #efefef;
  color: #9e9e9e;
}

.hero__search {
  margin-left: -50px;
}

.hero__img {
  max-width: 675px;
  margin-top: -75px;
}

.hero__item--right {
  text-align: right;
}

.hero__mint {
  position: absolute !important;
  left: auto !important;
  top: auto !important;
  bottom: 20vh !important;
  right: 50% !important;
  z-index: -1 !important;
}

.hero__mint--small {
  position: absolute !important;
  left: 50% !important;
  top: 25% !important;
  z-index: -1 !important;
}

.hero__pepper {
  position: absolute !important;
  left: -10% !important;
  top: 10% !important;
  z-index: -3 !important;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.categories {
  position: relative;
}

.categories::before {
  content: "";
  min-height: 830px;
  width: 100%;
  position: absolute;
  top: 430px;
  left: 0;
  background-color: #efefef;
  z-index: -1;
}

.categories__title {
  margin-top: 190px;
}

.categories__description {
  margin: 50px 0 100px;
  width: 845px;
  line-height: 1.5;
}

.categories__row {
  margin: 0 -15px;
}

.categories__item {
  position: relative;
  padding: 0 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categories__item img {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categories__item:hover {
  margin-top: -20px;
}

.categories__item:hover img {
  -webkit-box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.3);
}

.categories__item:hover .categories__link {
  background-color: #222222;
}

.categories__item:hover .categories__type {
  color: #fff;
}

.categories__item:hover .categories__text {
  color: #9e9e9e;
}

.categories__item:hover .categories__arrow {
  background-color: #ffbe00;
}

.categories__item:hover .categories__arrow svg {
  fill: #fff;
}

.categories__link {
  position: absolute;
  bottom: 10%;
  right: auto;
  left: 10%;
  background-color: #ffbe00;
  border-radius: 16px;
  min-width: 400px;
  overflow: hidden;
  padding: 20px 40px;
}

.categories__type {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categories__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  max-height: 75px;
}

.categories__arrow svg {
  fill: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.categories__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0 0px;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=index.css.map */