body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a, span{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1640px;
    width:100%;
    margin: 0 auto;
}
.row{
    display: flex !important;
    flex-wrap: wrap;
}
.orange{
    color: $orange;
}

.btn {
    @include font($font-poppins,600, 16px, 1.5);
    padding: 14px 32px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn--orange{
    background-color: $orange;
    transition: 0.3s;
    &:hover{
        background-color: $black;
        color: $orange;
    }
}

.btn-black {
    background-color: $black;
    color: $white;
    transition: 0.3s;
    &:hover {
      background-color: $orange;
      color: $black;
    }
  }
.relative{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}
.over{
    &--1, &--2, &--3{
        position: absolute;
        width: 33.333%;
        height: 100%;
        background-color: black;

    }
    &--1{
        left: 0;
    }
    &--2{
        left: 33.33333%;
    }
    &--3{
        left: 66.66666%;
    }
}
.section__title{
    @include font($font-cream, 600, 36px, 1);
}
.section__description{
    @include font($font-poppins, 400, 16px,1.5);
}