$white:#fff;
$gray:#efefef;
$orange:#ffbe00;
$black:#222222;
$darkGray:#9e9e9e;
$spaceGray: #707070;
$darkBlue: #0b0320;
// fonts
$font-cream: "Fresh Cream", sans-serif;
$font-poppins: "Poppins", sans-serif;
$line-height:1.5;